*{
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: whitesmoke;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

body{
    height: 1500px;
    
    text-align: center;
    padding: 1.5rem 2.5rem;
	background-image: url("images/giphy.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
    background-size: 100%;
    margin: 0 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}
